<ion-header>
  <ion-navbar>
    <ion-title>Add Dealer</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <form [formGroup]="addDealerform">

    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">User ID*</ion-label>
      <ion-input formControlName="userId" type="text"></ion-input>
    </ion-item>

    <ion-item class="logitem1" *ngIf="!addDealerform.controls.userId.valid && (addDealerform.controls.userId.dirty || submitAttempt)">
      <p>Should be a 6 digit alphanumeric number.</p>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">First Name*</ion-label>
      <ion-input formControlName="Firstname" type="text"></ion-input>
    </ion-item>
    <ion-item class="logitem1" *ngIf="!addDealerform.controls.Firstname.valid && (addDealerform.controls.Firstname.dirty || submitAttempt)">
      <p>Please enter First Name</p>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">Last Name*</ion-label>
      <ion-input formControlName="LastName" type="text"></ion-input>
    </ion-item>
    <ion-item class="logitem1" *ngIf="!addDealerform.controls.LastName.valid && (addDealerform.controls.LastName.dirty || submitAttempt)">
      <p>Please enter Last Name</p>
    </ion-item>
<!-- 
    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">Email ID</ion-label>
      <ion-input formControlName="emailid" type="email"></ion-input>
    </ion-item> -->
    <!-- <ion-item class="logitem1" *ngIf="!addDealerform.controls.emailid.valid && (addDealerform.controls.emailid.dirty || submitAttempt)">
          <p>Please enter User ID</p>
      </ion-item> -->

    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">Mobile Number*</ion-label>
      <ion-input formControlName="contact_num" type="number" maxlength="10" minlength="10"></ion-input>
    </ion-item>
    <ion-item class="logitem1" *ngIf="!addDealerform.controls.contact_num.valid && (addDealerform.controls.contact_num.dirty || submitAttempt)">
      <p>mobile number required and should be 10 digits!</p>
    </ion-item>

    <!-- <ion-item>
      <ion-label fixed style="min-width: 50% !important;">Password*</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item class="logitem1" *ngIf="!addDealerform.controls.password.valid && (addDealerform.controls.password.dirty || submitAttempt)">
      <p>Invalid Password</p>
    </ion-item>

    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">Confirm Password*</ion-label>
      <ion-input formControlName="cpassword" type="password"></ion-input>
    </ion-item>
    <ion-item class="logitem1" *ngIf="!addDealerform.controls.cpassword.valid && (addDealerform.controls.cpassword.dirty || submitAttempt)">
      <p>Please enter Confirm Password</p>
    </ion-item> -->

    <ion-item>
      <ion-label fixed style="min-width: 50% !important;">Address*</ion-label>
      <ion-input formControlName="address" type="text"></ion-input>
    </ion-item>
    <ion-item class="logitem1" *ngIf="!addDealerform.controls.address.valid && (addDealerform.controls.address.dirty || submitAttempt)">
      <p>Address required!</p>
    </ion-item>

    <ion-item>
      <ion-label>Select Document</ion-label>
      <ion-select formControlName="docType">
        <ion-option value="adhar">Adhar Card</ion-option>
        <ion-option value="PAN">PAN Card</ion-option>
        <ion-option value="GSTReg">GST Registration</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center;">
        <button ion-button clear color="light" (click)="_submit()">SUBMIT</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>