<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div style="font-size:15px; text-align: center;">Dashboard</div>
      <div style="font-size:12px; text-align: center;">Welcome, {{islogin.fn}}&nbsp;{{islogin.ln}}!</div>
    </ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="seeNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <canvas #doughnutCanvas height="300" width="300"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="cardSt">
      <ion-row>
        <ion-col width-50 (tap)="live()" style="border-right: 1px solid #1c3f75; border-bottom: 1px solid #1c3f75;">
          <div class="divS">
            <ion-icon class="iconS" name="pin" color="gpsc"></ion-icon>
            <br /> LIVE TRACKING
          </div>
        </ion-col>

        <ion-col width-50 (tap)="vehiclelist()" style="border-bottom: 1px solid #1c3f75">
          <div class="divS">
            <ion-icon style="font-size: 6em; font-weight: bolder;margin-top: -14px;" name="custom-ic1" color="gpsc"></ion-icon>
            <br />
            <p style="padding: 0px;margin: -16px; font-size: 15px;">EV</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50 (tap)="historyDevice()" style="border-right: 1px solid #1c3f75;">

          <div class="divS">
            <ion-icon class="iconS" name="time" color="gpsc"></ion-icon>
            <br /> HISTORY
          </div>
        </ion-col>
        <ion-col width-50 (tap)="geofence()" class="colStyl">
          <div class="divS">
            <ion-icon class="iconS" name="disc" color="gpsc"></ion-icon>
            <br /> GEOFENCE
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>