<ion-header>
    <ion-navbar>
        <ion-title>Add Customer</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <form [formGroup]="addcustomerform">
        <ion-list>
            <ion-item>
                <ion-label floating>User ID*</ion-label>
                <ion-input type="text" formControlName="userId"></ion-input>
            </ion-item>
            <ion-item class="logitem1"
                *ngIf="!addcustomerform.controls.userId.valid && (addcustomerform.controls.userId.dirty || submitAttempt)">
                <p>user id required!</p>
            </ion-item>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>First Name*</ion-label>
                        <ion-input type="text" formControlName="Firstname"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>Last Name*</ion-label>
                        <ion-input type="text" formControlName="LastName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label floating>Number of Batteries*</ion-label>
                <ion-input type="number" formControlName="userId"></ion-input>
            </ion-item>
            <ion-item class="logitem1"
                *ngIf="!addcustomerform.controls.userId.valid && (addcustomerform.controls.userId.dirty || submitAttempt)">
                <p>Number of batteries required!</p>
            </ion-item>
            <!-- <ion-item>
                <ion-label floating>Vehicle Type</ion-label>
                <ion-select formControlName="LastName">
                    <ion-option value="nes">Ecart</ion-option>
                    <ion-option value="n64">Erickshaw</ion-option>
                    <ion-option value="ps">Ebike</ion-option>
                    <ion-option value="genesis">Escooter</ion-option>
                </ion-select>
            </ion-item> -->
            <ion-item>
                <ion-label floating>Mobile Number</ion-label>
                <ion-input formControlName="contact_num" type="number" maxlength="10" minlength="10"></ion-input>
            </ion-item>
            <ion-item class="logitem1"
                *ngIf="!addcustomerform.controls.contact_num.valid && (addcustomerform.controls.contact_num.dirty || submitAttempt)">
                <p>mobile number required and should be 10 digits!</p>
            </ion-item>

            <ion-item>
                <ion-label floating>Expire On*</ion-label>
                <ion-input type="date" formControlName="ExipreDate"></ion-input>
            </ion-item>
            <ion-item class="logitem1"
                *ngIf="!addcustomerform.controls.ExipreDate.valid && (addcustomerform.controls.ExipreDate.dirty || submitAttempt)">
                <p>Date of expiry required!</p>
            </ion-item>

            <ion-item *ngIf="isSuperAdminStatus">
                <ion-label floating>Dealers</ion-label>
                <ion-select formControlName="dealer_firstname" style="min-width:49%;">
                    <ion-option *ngFor="let dealer of selectDealer" [value]="dealer.dealer_firstname"
                        (ionSelect)="dealerOnChnage(dealer)">{{dealer.dealer_firstname}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="lastImage != null">
                <ion-label floating>Adhar Card</ion-label>
                <ion-input type="text" formControlName="adhar"></ion-input>
                <button ion-button clear color="danger" type="button" item-right (click)="removeImg('adhar')">
                    <ion-icon name="close-circle"> </ion-icon>
                </button>
            </ion-item>

            <ion-item *ngIf="lastImage1 != null">
                <ion-label floating>Driver License</ion-label>
                <ion-input type="text" formControlName="driverL"></ion-input>
                <button ion-button clear color="danger" type="button" item-right (click)="removeImg('license')">
                    <ion-icon name="close-circle"> </ion-icon>
                </button>
            </ion-item>
            <div padding>
                <button ion-button *ngIf="lastImage == null" outline color="gpsc" block
                    (click)="presentActionSheet('adhar')">Upload Adhar Card Image</button>
                <button ion-button *ngIf="lastImage1 == null" outline color="gpsc" block
                    (click)="presentActionSheet('license')">Upload Driver License (Ecart)</button>
            </div>

            <!-- <button ion-button outline color="gpsc" block>Scan Adhar Card</button>
            <button ion-button outline color="gpsc" block>Scan Driver License(Ecart)</button> -->
        </ion-list>

        <!-- <ion-item>
            <ion-label fixed style="min-width: 50% !important;">User ID*</ion-label>
            <ion-input formControlName="userId" type="text"></ion-input>
        </ion-item>

        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.userId.valid && (addcustomerform.controls.userId.dirty || submitAttempt)">
            <p>user id required!</p>
        </ion-item> 

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">First Name*</ion-label>
            <ion-input formControlName="Firstname" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.Firstname.valid && (addcustomerform.controls.Firstname.dirty || submitAttempt)">
            <p>first name required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Last Name*</ion-label>
            <ion-input formControlName="LastName" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.LastName.valid && (addcustomerform.controls.LastName.dirty || submitAttempt)">
            <p>last name required!</p>
        </ion-item>-->

        <!-- <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Email ID *</ion-label>
            <ion-input formControlName="emailid" type="email"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addcustomerform.controls.emailid.valid && (addcustomerform.controls.emailid.dirty || submitAttempt)">
            <p>email id required!</p>
        </ion-item> -->

        <!-- <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Mobile Number</ion-label>
            <ion-input formControlName="contact_num" type="number" maxlength="10" minlength="10"></ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.contact_num.valid && (addcustomerform.controls.contact_num.dirty || submitAttempt)">
            <p>mobile number required and should be 10 digits!</p>
        </ion-item> -->

        <!-- <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Password*</ion-label>
            <ion-input formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addcustomerform.controls.password.valid && (addcustomerform.controls.password.dirty || submitAttempt)">
            <p>Password required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Address*</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addcustomerform.controls.address.valid && (addcustomerform.controls.address.dirty || submitAttempt)">
            <p>Address required!</p>
        </ion-item> -->

        <!-- <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Expire On*</ion-label>
            <ion-input type="date" formControlName="ExipreDate" style="margin-left: -2px;" min="{{minDate}}">
            </ion-input>
        </ion-item>
        <ion-item class="logitem1"
            *ngIf="!addcustomerform.controls.ExipreDate.valid && (addcustomerform.controls.ExipreDate.dirty || submitAttempt)">
            <p>Date of expiry required!</p>
        </ion-item> -->

        <!-- <ion-item *ngIf="isSuperAdminStatus">
            <ion-label>Dealers</ion-label>
            <ion-select formControlName="dealer_firstname" style="min-width:49%;">
                <ion-option *ngFor="let dealer of selectDealer" [value]="dealer.dealer_firstname"
                    (ionSelect)="dealerOnChnage(dealer)">{{dealer.dealer_firstname}}</ion-option>
            </ion-select>
        </ion-item> -->

    </form>
</ion-content>
<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="text-align: center;">
                <button ion-button clear color="light" (click)="addcustomer()">ADD CUSTOMER</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>