<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Battery Chart</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
      <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
        itemTextField="Device_Name" [canSearch]="true" (onChange)="getid(selectedVehicle)">
      </select-searchable>
    </ion-item>
  <ion-row style="background-color: #fafafa;" padding-left padding-right>
      <ion-col width-20 class="cust">
        <ion-label>
          <span style="font-size: 13px">From Date</span>
          <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
            style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
          </ion-datetime>
        </ion-label>
      </ion-col>

      <ion-col width-20 class="cust">
        <ion-label>
          <span style="font-size: 13px">To Date</span>
          <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
            style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
          </ion-datetime>
        </ion-label>
      </ion-col>

      <ion-col width-20>
        <div style="margin-top: 9px; float: right">
          <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getFueldata();">
          </ion-icon>
        </div>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
          <!-- <canvas #lineCanvas></canvas> -->
          <canvas id="fuelChart"></canvas>
          <!-- <div class="row">
            <div class="col-12" style="text-align: center;">
            <canvas id="fuelChart"></canvas>
            </div>
            </div>  -->
        </ion-card-content>
      </ion-card>
    <!-- <ion-card>
        <ion-card-content no-padding>
          <canvas #lineCanvas height="350" width="350"></canvas>
        </ion-card-content>
      </ion-card> -->
</ion-content>
