<ion-menu  [content]="content" [swipeEnabled]="false" (ionOpen)='chkCondition()'>
  <ion-header>
  </ion-header>
  <ion-content id="outerNew">
    <div class="headProf">
      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/dummy-user-img.png">
        </ion-col>
        <ion-col col-8 text-right>
          <ion-row>
            <ion-col col-12>
              <p style="margin: 0px; padding: 7px 0px 0px 0px; font-size: 16px;"><b>
                  {{islogin.fn}}&nbsp;{{islogin.ln}}
                </b></p>
            </ion-col>
            <ion-col col-12>
              <p style="font-size: 10px; margin: 0px; padding: 0px;">
                <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <side-menu-content [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)">
    </side-menu-content>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>