// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ios,
.md,
.wp {
  @font-face {
    font-family: "Arial";
    font-weight: 300;
    font-style: bold;
    src: url("../assets/fonts/Arial/Arial.ttf");
    src: url("../assets/fonts/Arial/Arial.ttf?#iefix") format("embedded-opentype");
    // local('Lato Light'),
    // local('Arial'),
    // url('../assets/fonts/Arial/Lato-300.woff2') format('woff2'),
    // url('../assets/fonts/Arial/Lato-300.woff') format('woff'),
    // url('../assets/fonts/Arial/Lato-300.ttf') format('truetype'),
    // url('../assets/fonts/Arial/Lato-300.svg#Lato') format('svg');
  }

  .form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #d5dbe3;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
  }
  .form-radio:checked::before {
    position: absolute;
    font: 13px/1 "Open Sans", sans-serif;
    font-weight: bolder;
    left: 11px;
    top: 7px;
    content: "\02143";
    transform: rotate(40deg);
  }
  .form-radio:hover {
    background-color: #f7f7f7;
  }
  .form-radio:checked {
    background-color: #1cdf6d;
  }
  label {
    font: 15px/1.7 "Open Sans", sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
  }
  .select-searchable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 45%;
    font-size: 12px;
    // padding-bottom: 12px;
  }
  .select-searchable-value {
    // -webkit-box-flex: 1;
    // -webkit-flex: 1;
    // -ms-flex: 1;
    // flex: 1;
    padding-top: 13px;
    padding-bottom: 13px;
    // overflow: hidden;
    margin-top: 3%;
  }

  // ============ to change date picker format ============//

  .toolbar .searchbar-ios .searchbar-input {
    background: #fff;
  }

  side-menu-content {
    background: #39b54a;
    background-repeat: no-repeat;
    .item > ion-icon,
    .item-inner > ion-icon {
      min-height: 2rem;
      font-size: 2.5rem;
      line-height: 1;
      // text-align: right;
    }
  }
  side-menu-content ion-item.item-ios.item.item-block,
  side-menu-content ion-item.item-md.item.item-block,
  side-menu-content ion-item.item-wp.item.item-block {
    // border-bottom: 1px solid #717775;
    border-bottom: 1px solid #b4a2a2;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }

  #outerNew {
    background-image: linear-gradient(to right top, #ed1c24, #ed3a3c, #ec4f52, #e86266, #e37378);
    // background-image: linear-gradient(to right top, #39b54a, #4abd59, #5ac667, #69ce76, #77d684);
    // background: #39b54a;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    // width: 100%;
    height: 100%;
    text-align: center;
    // color: white;
  }
  .toolbarmd {
    // .toolbar-md {
    //     padding: 4px;
    min-height: 38px;
    // }
  }

  ion-menu .menu-inner {
    width: 250px;
  }

  ion-header {
    .toolbar-background {
      background: #39b54a;
    }
    .toolbar-title-md,
    .toolbar-title-ios {
      color: #fff;
    }

    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
      color: #fff;
    }

    .bar-button-default-ios,
    .bar-button-clear-ios-default,
    .bar-button-ios-default {
      color: #fff;
    }
  }

  .EditIcon {
    ion-icon {
      color: "red";
    }
  }

  .footSty {
    background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    .toolbar-background {
      background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    }
    .toolbar-md,
    .toolbar-ios {
      padding: 0px;
      min-height: 45px;
    }
  }

  .headProf {
    // background: url('../assets/imgs/1.jpg');
    background-image: linear-gradient(to right top, #39b54a, #4abd59, #5ac667, #69ce76, #77d684);
    // background-image: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    text-align: center;
    padding: 10px;
    color: #fff;

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }
  .modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .contact-popover .popover-content {
    width: 120px;
  }
  .iosPop-popover .popover-content {
    width: 320px;
  }
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-fuel"] {
    mask-image: url(../assets/icon/tripicon.svg);
  }

  &[class*="custom-ic1"] {
    mask-image: url(../assets/icon/b1.svg);
  }

  &[class*="custom-ic2"] {
    mask-image: url(../assets/icon/b2.svg);
  }

  &[class*="custom-ic3"] {
    mask-image: url(../assets/icon/b3.svg);
  }
}

// ion-icon {
//   &[class*="custom-"] {
//     mask-size: contain;
//     mask-position: 50% 50%;
//     mask-repeat: no-repeat;
//     background: currentColor;
//     width: 1em;
//     height: 1em;
//   }

//   &[class*="custom-fuel"] {
//     mask-image: url(../assets/icon/tripicon.svg);
//   }
// }
