<ion-header>
    <ion-navbar>
        <ion-title>Add Group</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
<!-- <div class="example-cntr backdrop"> -->
<!-- <div>
    <form [formGroup]="groupForm">
        <p>
            <label for="gname" class="floatLabel">Group Name</label>
            <input formControlName="group_name" type="text">
            <span class="span" *ngIf="!groupForm.controls.group_name.valid && (groupForm.controls.group_name.dirty || submitAttempt)">group name is required!</span>
        </p>
        <p>
            <label for="gstat" class="floatLabel">Group Status</label>
            <ion-select class="select" formControlName="status">
                <ion-option *ngFor="let statusname of GroupStatus" [value]="statusname.name" (ionSelect)="GroupStatusdata(statusname)">{{statusname.name}}</ion-option>
            </ion-select>
        </p>
        <p>
            <label for="address" class="floatLabel">Address</label>
            <input formControlName="address" type="text">
        </p>
        <p>
            <label for="email" class="floatLabel">Email Id</label>
            <input formControlName="emailid" type="email">
            <span class="span" *ngIf="!groupForm.controls.emailid.valid && (groupForm.controls.emailid.dirty || submitAttempt)">please enter valid email id!</span>
        </p>
        <p>
            <label for="mobno" class="floatLabel">Mobile Number</label>
            <input type="number" minlength="10" maxlength="10" formControlName="mobno">
            <span class="span" *ngIf="!groupForm.controls.mobno.valid && (groupForm.controls.mobno.dirty || submitAttempt)">mobile number should be 10 digits!</span>
        </p>
        <p>
            <input type="submit" value="Create My Account" id="submit">
        </p>
    </form> -->
    <form [formGroup]="groupForm">

            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">Group Name</ion-label>
                <ion-input formControlName="group_name" type="text"></ion-input>
            </ion-item>
            <ion-item class="logitem1" *ngIf="!groupForm.controls.group_name.valid && (groupForm.controls.group_name.dirty || submitAttempt)">
                <p>group name is required!</p>
            </ion-item>


            <ion-item>
                <ion-label>Group Status</ion-label>
                <ion-select formControlName="status" style="min-width:50%;">
                    <ion-option *ngFor="let statusname of GroupStatus" [value]="statusname.name" (ionSelect)="GroupStatusdata(statusname)">{{statusname.name}}</ion-option>
                </ion-select>
            </ion-item>


            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">Address</ion-label>
                <ion-textarea formControlName="address"></ion-textarea>
            </ion-item>


            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">Email Id</ion-label>
                <ion-input type="email" formControlName="emailid"></ion-input>
            </ion-item>
            <ion-item class="logitem1" *ngIf="!groupForm.controls.emailid.valid && (groupForm.controls.emailid.dirty || submitAttempt)">
                <p>please enter valid email id!</p>
            </ion-item>

            <ion-item>
                <ion-label fixed style="min-width: 50% !important;">Mobile Number</ion-label>
                <ion-input type="number" minlength="10" maxlength="10" formControlName="mobno"></ion-input>
            </ion-item>
            <ion-item class="logitem1" *ngIf="!groupForm.controls.mobno.valid && (groupForm.controls.mobno.dirty || submitAttempt)">
                <p>mobile number should be 10 digits!</p>
            </ion-item>
        </form>
<!-- </div> -->
<!-- </div> -->
</ion-content>
<ion-footer class="footSty">

    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="text-align: center;">
                <button ion-button clear color="light" (click)="addGroup()">ADD GROUP</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>