<ion-slides pager="true">

  <ion-slide>
    <img src="assets/gif/Ebicycle loading_08102019.gif" />
  </ion-slide>

  <ion-slide>
    <img src="assets/gif/Ecart loading_07102019.gif" />
  </ion-slide>

  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="assets/gif/Escooter loading_07102019.gif" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="light" (click)="goToHome()">Start Using My App</button>
      </ion-col>
    </ion-row>
  </ion-slide>

</ion-slides>