<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Battery List</ion-title>
    <ion-buttons end *ngIf="isDealer || isSuperAdmin">
      <button ion-button icon-only (click)="openAdddeviceModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let d of allDevicesSearch; let i=index;">

    <ion-item>
      <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType != null"
        (click)="showVehicleDetails(d); $event.stopPropagation()">
        <img src="assets/imgs/b1.png" title="{{d.Device_Name}}">
      </ion-avatar>

      <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType == null"
        (click)="showVehicleDetails(d); $event.stopPropagation()">

        <img src="assets/imgs/b1.png" title="{{d.Device_Name}}">
      </ion-avatar>

      <ion-avatar item-start *ngIf="d.vehicleType == null && d.iconType != null"
        (click)="showVehicleDetails(d); $event.stopPropagation()">

        <img src="assets/imgs/b1.png" title="{{d.Device_Name}}">
      </ion-avatar>


      <div>
        <p style="color: black; font-size: 4vw; padding-right: 8px;">
          {{ d.Device_Name }} &nbsp;&nbsp;
        </p>

        <p style="color:#cf1c1c;font-size: 3vw;font-weight: 400;margin:0px;" ion-text text-wrap>
          <span style="text-transform: uppercase;">{{ d.status }} </span>
          <span *ngIf="d.status_updated_at">Since&nbsp;{{
                d.status_updated_at | date: "medium"
              }}
          </span>
        </p>
      </div>

      <div item-end *ngIf="islogin.fuel_unit === 'PERCENTAGE'">
        <div *ngIf="d.fuel_percent">
          <ion-avatar class="ava">
            <img src="assets/imgs/fuel.png" />
          </ion-avatar>
          <p style="color: green; font-size: 10px;font-weight: 400;margin:0px;">
            <b>{{ d.fuel_percent }}%</b>
          </p>
        </div>
      </div>

      <div item-end *ngIf="islogin.fuel_unit === 'LITRE'">
        <div *ngIf="d.currentFuel">
          <ion-avatar class="ava">
            <img src="assets/imgs/fuel.png" />
          </ion-avatar>
          <p style="color: green; font-size: 10px;font-weight: 400;margin:0px;">
            <b>{{ d.currentFuel }}L</b>
          </p>
        </div>
      </div>

      <div item-end *ngIf="d.last_speed">
        <ion-badge color="gpsc">{{ d.last_speed }} km/h</ion-badge>
      </div>
      <button ion-button item-end clear color="gpsc" (click)="presentPopover($event, d); $event.stopPropagation()"
        *ngIf="!showDeleteBtn(d.SharedWith)" style="font-size: 4vw; margin: 0px;">
        <ion-icon ios="ios-more" md="md-more" *ngIf="option_switch"></ion-icon>
      </button>

      <button ion-button item-end clear color="gpsc" (click)="shareVehicle(d)" *ngIf="!option_switch"
        style="font-size: 4vw; margin: 0px;">
        <ion-icon ios="ios-share" md="md-share" *ngIf="showSharedBtn(islogin._id, d.SharedWith)"></ion-icon>
      </button>

      <button ion-button item-end clear color="danger" (click)="sharedVehicleDelete(d)"
        *ngIf="showDeleteBtn(d.SharedWith)" style="font-size: 4vw; margin: 0px;">
        <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-row style="background-color: #fafafa;">
      <ion-col col-2 style="text-align:center" (click)="livetrack(d)">
        <ion-icon name="pin" style="color:#ffc900; font-size: 3vw;"></ion-icon>
        <p style="color:#131212; font-size: 2vw; font-weight: 400;">
          Live
        </p>
      </ion-col>
      <ion-col col-3 style="text-align:center" (click)="showHistoryDetail(d)">
        <ion-icon name="clock" style="color:#d675ea;font-size: 3vw;"></ion-icon>
        <p style="color:#131212;font-size: 2vw;font-weight: 400;">
          History
        </p>
      </ion-col>
      <!-- <ion-col col-2 style="text-align:center">
        <ion-icon name="power" style="color:#ef473a;font-size: 3vw;" *ngIf="d.last_ACC == '0'"></ion-icon>
        <ion-icon name="power" style="color:#1de21d;font-size: 3vw;" *ngIf="d.last_ACC == '1'"></ion-icon>
        <ion-icon name="power" style="color:gray;font-size: 3vw;" *ngIf="d.last_ACC == null"></ion-icon>
        <p style="color:#131212;font-size: 2vw;font-weight: 400;">
          Ignition
        </p>
      </ion-col> -->
      <ion-col col-2 style="text-align:center" (click)="IgnitionOnOff(d)">
        <ion-icon name="lock" style="color:#ef473a;font-size: 3vw;" *ngIf="d.ignitionLock == '1'"></ion-icon>
        <ion-icon name="unlock" style="color:#1de21d;font-size: 3vw;" *ngIf="d.ignitionLock == '0'"></ion-icon>
        <p style="color:#131212;font-size: 2vw;font-weight: 400;">
          Lock
        </p>
      </ion-col>
      <ion-col col-3 style="text-align:center">
        <ion-icon name="battery-charging" style="color:#ef473a;font-size: 3vw;" *ngIf="d.power != '1'"></ion-icon>
        <ion-icon name="battery-charging" style="color:#1de21d;font-size: 3vw;" *ngIf="d.power == '1'"></ion-icon>
        <p style="color:#131212;font-size: 2vw;font-weight: 400;">
          Battery
        </p>
      </ion-col>
      <ion-col col-2 style="text-align:center" (click)="dialNumber(d.contact_number)">
        <ion-icon name="call" style="color:#0000FF;font-size: 3vw;"></ion-icon>
        <p style="color:#131212;font-size: 2vw;font-weight: 400;">
          Driver
        </p>
      </ion-col>
    </ion-row>
    <ion-item item-start class="itemStyle" style="background:#696D74;">
      <ion-row>
        <ion-col (onCreate)="device_address(d, i)" class="colSt2">
          <div class="overme">
            {{ d.address }}
          </div>
        </ion-col>
        <ion-col class="colSt1">
          <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">
            Today's Distance
          </p>
          <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">
            {{ d.today_odo | number: "1.0-2" }} km
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>